.blocks{
  height: 100%;
  
  .blocks-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 15px;
  }
  &__container{
    position: relative;
    display: flex;
    flex-direction: row;

    @media (max-width: 680px){
      flex-direction: column;
      align-items: center;
    }
  }
  &__buttons{
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    transform: translateX(10%);
    gap: 25px;

    @media (max-width: 680px){
      transform: translateX(0);
      flex: 0 0 150px;
    }

    & > button {
      width: 200px;
      padding: 10px 5px;
      font-size: 20px;
      font-weight: 600;
      line-height: 125%;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      transition: all 0.25s ease;
      &:hover{
        background-color: #7bae73;
        color: #fff;
      }
    }
  }
  &__cards{
  flex: 1 1 auto;
  }
}