.cards {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.card{
  flex-basis: 335px;
  background-color: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06), 0px 6px 10px rgba(0, 0, 0, 0.04);
  padding: 15px; 
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16.5px;
  position: relative;
  &__title{
    font-size: 20px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0;
  }
  &__category{
    padding-bottom: 5px;
  }
  &__price{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
  }
  &__remove{
    cursor: pointer;
    background: url('@/assets/icons/remove.svg') center/cover no-repeat,#ff8484;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 12px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 5;
    transition: all 0.3s ease;
    &:hover{
      transform: scale(1.05);
    }
  }
}