.menu {
  position: fixed;
  top: 20%;
  max-width: 280px;
  padding: 20px;
  background-color:#FFFEFB;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  z-index: 10;
  
  .close{
    cursor: pointer;
    background: url('@/assets/icons/close.svg') center/cover no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 5;
    transition: all 0.3s ease;
  }

  .menu-required{
    position: relative;
    & > input, #start, #end {
      border: 1px solid #FF8484;
    }
    &:after{
      content: 'Поле является обязательным';
      position: absolute;
      bottom: -4px;
      transform: translateY(10px);
      color: #FF8484;
      left: 0;
      font-size: 10px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: -0.02em;
    }
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  &__heading{
    font-size: 18px;
    font-weight: 600;
  }
  
  &__category{
    .select{
      appearance: none;
     -webkit-appearance: none;
      color: #3f3f3f;
      background: url('@/assets/icons/arrow.svg') 96.5% 50%/12px no-repeat;
      cursor: pointer;
    }
  }

  &__btn{
    background-color:#EEEEEE;
    color: #B4B4B4;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 125%;
    transition: all 0.3s ease;
    &_active{
      background-color:#7BAE73;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      color: white;
      &:hover, &:focus{
        background-color:#7bae73dc;
      }
    }
  }

  .input-menu{
    width: 100%;
    padding: 10px 0px 11px 16px;
    background-color: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    &::placeholder{
      color: #B4B4B4;
      font-size: 12px;
      line-height: 125%;
    }
  }
  .label-menu{
    display: inline-block;
    color: #49485E;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.02em;
    padding-bottom: 4px;
    position: relative;
  }
}