@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

$fontSize: 16px;

$fontFamily: 'Source Sans Pro', sans-serif;

@mixin adaptiveValue($property, $startSize, $minSize, $maxWidth, $minWidth: 320, $mode: 0){ 
  $addSize: $startSize - $minSize;
  @if ($mode == 1) {
    @media (min-width: #{$minWidth + px}) and (max-width: #{$maxWidth + px}) {
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / (#{$maxWidth - $minWidth})));
    }
  } @else {
	  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@import './null.scss';

@import './blocks.scss';

@import './menu.scss';

@import './cards.scss';

@import './date.scss';

@import './transition.scss';